In [22]:
import pandas as pd

In [23]:
# Load the data
df = pd.read_csv('data/DataOne.csv')

In [24]:
# Function to extract email domain
def extract_domain(email):
    return email.split('@')[1]

# Create a new column 'email_domain' by applying the function to the 'email' column
df['email_domain'] = df['email'].apply(extract_domain)

In [25]:
# Function to extract top-level domain (TLD)
def extract_tld(domain):
    parts = domain.split('.')
    return parts[-1] if parts else None

# Create a new column 'tld' by applying the function to the 'email_domain' column
df['tld'] = df['email_domain'].apply(extract_tld)

In [26]:
# Function to remove any TLD after the last dot in the domain
def remove_tld(domain):
    if '.' in domain:
        return domain.split('.')[0]
    return domain

# Apply the function to strip TLDs from 'email_domain'
df['email_domain'] = df['email_domain'].apply(remove_tld)

In [27]:
# Display the DataFrame to verify the new column
df

,id,full_name,email,gender,email_domain,tld
0,1,Jacquenette Nesterov,jnesterov0@squarespace.com,female,squarespace,com
1,2,Leanora Cashell,lcashell1@blogger.com,male,blogger,com
2,3,Arley Medford,amedford2@newyorker.com,male,newyorker,com
3,4,Rafaello Crawshaw,rcrawshaw3@multiply.com,male,multiply,com
4,5,Karalee Hallaways,khallaways4@uol.com.br,non-binary,uol,br
...,...,...,...,...,...,...
95,96,Lucienne McFaul,lmcfaul2n@vk.com,female,vk,com
96,97,Sheelagh Chretien,schretien2o@google.it,male,google,it
97,98,Ransom Smyth,rsmyth2p@geocities.com,male,geocities,com
98,99,Mauricio Goane,mgoane2q@nhs.uk,male,nhs,uk
99,100,Iain Stephens,istephens2r@newyorker.com,male,newyorker,com

In [28]:
# Write the DataFrame to a CSV file
csv_file_path = 'data/Cleaned_Email_Domains.csv'
df.to_csv(csv_file_path, index=False)